#links {
    list-style-type: none;
	font-size: 20px;
	margin-left: 5%;
}

#linksDiv {
    display: flex;
    justify-content: left;
	font-size: 30px;
	color: white;
}

#by {
    display: inline;
    justify-content: left;
	font-size: 20px;
	color: yellow;
}

#graphic {
    display: inline;
    justify-content: left;
	font-size: 20px;
	color: yellow;
}

#logo {
	max-width: 600px;
	margin-bottom: 5%;
}